<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLExpress" connectionString="Data Source=DESKTOP-KQQQB0A\SQLEXPRESS;Initial Catalog=APA_OrangeCounty;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>